@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/montserrat/Unbounded-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/montserrat/Unbounded-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

html {
    height: 100%;
    overflow: hidden; 
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    background-repeat: no-repeat;
}


body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}


body::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
}


.content-block {
    width: 60%;
    background-color: white;
    padding: 100px;
    margin: 100px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
	flex-wrap: wrap; 
}

.content-title {
	font-family: 'Unbounded', sans-serif;
	font-weight: 400;
	font-size: 2em;
	color: #333;
	margin: 0;
	padding-bottom: 10px;
}

.text-block-right {
    font-family: 'Unbounded', sans-serif; 
    font-size: 1.2em;
    color: #333;
    width: 100%; 
    text-align: right; 
    margin: 10px 0; 
}

.text-block-left, .text-block-right {
    font-family: 'Unbounded', sans-serif;
    font-size: 1.2em;
    color: #333;
    margin: 20px 0;
}

.text-block-left {
    text-align: left;
    width: 100%;
}

.text-block-right {
    text-align: right;
    width: 100%;
}

.collection-container-left, .collection-container-right {
    display: flex;
    justify-content: flex-start; 
    gap: 10px;
    margin-bottom: 20px;
	flex-wrap: wrap;
}

.collection-container-right {
    justify-content: flex-end; 
}

.collection-option {
	font-family: 'Unbounded', sans-serif;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative; 
    text-align: center;
}

.collection-option.selected::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 105, 180, 0.3);
    border-radius: 5px;
    pointer-events: none; 
}

.submit-button {
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Unbounded', sans-serif;
    font-size: 1.2em;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.2s;
}

.submit-button:hover {
    background-color: rgba(255, 105, 180, 0.3);
    transform: scale(1.05);
}

.content-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px; 
    align-items: flex-start;
}

.content-list-item {
    font-family: 'Unbounded', sans-serif;
    font-size: 1.2em;
    padding: 10px 20px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 10px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.content-list-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.content-list-icon {
    font-size: 1.5em;
}

.contact-section.compact {
    font-family: 'Unbounded', sans-serif;
    text-align: left;
}

.contact-title {
    font-size: 1.8em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.contact-team {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-subtitle {
    font-size: 1.2em;
    font-weight: 500;
    color: #444;
    margin: 0;
}

.contact-names {
    font-size: 1em;
    color: #666;
    margin: 0;
    flex: 1;
    padding-left: 10px;
}

.contact-detail {
    font-size: 0.9em;
    color: #333;
    margin: 0;
    white-space: nowrap;
}

.contact-detail a {
    color: #ff7e5f;
    text-decoration: none;
    font-weight: 500;
}

.contact-detail a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .contact-section.compact {
        width: 90%;
    }

    .contact-team {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-detail {
        margin-top: 5px;
    }
}

.download-section {
    margin-top: 30px;
    text-align: center;
    font-family: 'Unbounded', sans-serif;
}

.download-title {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 15px;
}

.download-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.store-button {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: 500;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.store-button img {
    width: 24px;
    height: 24px;
}

.store-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.store-button.appstore {
    background: linear-gradient(to right, #0070f3, #00c6ff);
}

.store-button.googleplay {
    background: linear-gradient(to right, #0f9d58, #34a853);
}

@media (max-width: 768px) {
    .download-section {
        width: 90%;
    }

    .download-buttons {
        flex-direction: column;
        gap: 15px;
    }
}

.special-thanks {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd; 
    text-align: center;
}

.thanks-title {
    font-size: 1.2em;
    font-weight: 500;
    color: #444;
    margin-bottom: 5px;
}

.thanks-text {
    font-size: 1em;
    color: #666;
    margin: 0;
}